.resetpassword {
    height: 100%;
    background: #151414;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    .resetpassword-content {
        margin-top: 100px;
        margin-bottom: 131px;
        width: 409px;
        background: rgba(255, 255, 255, 1);
        border-radius: 4px;
        .resetpassword-model-top {
            width: 100%;
            text-align: center;
            padding: 41px 26px;
            font-size: 24px;
            font-weight: bold;
            color: #333333;
        }
        .resetpassword-input {
            padding: 0 26px;
            .re-email,
            .re-password,
            .re-confirm {
                font-size: 12px;
                font-weight: 400;
                color: rgba(102, 102, 102, 1);
                // margin-left: 25px;
            }
            .re-password {
                display: flex;
                justify-content: space-between;
                // padding-right: 25px;
                padding-bottom: 6px;
                .re-weak {
                    font-size: 12px;
                    font-weight: 400;
                    .weak-span {
                        margin-right: 8px;
                    }
                }
            }
        }
    }
    .ant-form-item-label>label {
        font-size: 12px;
    }
    .ant-progress-steps-item {
        width: 7px !important;
        height: 4px !important;
    }
    .ant-form-item-explain {
        margin-left: 0;
    }
    .ant-btn-primary[disabled] {
        background-color: #adb1bb !important;
    }
    .ant-input-affix-wrapper {
        height: 40px;
        border-radius: 4px;
        border: 1px solid rgba(204, 204, 204, 1);
    }
    .ant-input-affix-wrapper-focused {
        border-color: none !important;
    }
    .ant-form-item-has-error .ant-input-affix-wrapper-focused {
        box-shadow: none !important;
    }
    .ant-input-affix-wrapper-focused {
        box-shadow: none !important;
    }
    .ant-form-item-control-input-content {
        height: 40px;
    }
    .ant-input::placeholder {
        color: #adb1bb;
        font-size: 14px;
        font-weight: 300;
    }
    .ant-input {
        color: #333333;
        font-size: 14px;
        font-weight: 400;
    }
}