.wallet-withdraw {
  // padding-left: 12px;
  .wallet-withdraw-title {
    background-color: rgba(20,22,25,1);
    font-size: 36px;
    color: #ffffff;
    font-weight: 600;
    padding: 20px 24px;
    margin-bottom: 10px;
  }
  .export-title {
    cursor: pointer;
    font-weight: 400;
    color: rgba(229, 223, 245, 0.6);
    font-size: 14px;
    img {
      margin-left: 4px;
    }
  }
  .ant-tabs {
    padding: 0 44px 0 24px;
    background-color: rgba(20,22,25,1);
    .ant-tabs-nav {
      // width: 93%;
      margin-bottom: 24px;
      .ant-tabs-nav-wrap::after {
        background: linear-gradient(
          270deg,
          rgba(11, 113, 234, 1) 0%,
          rgba(49, 139, 245, 0) 100%
        );
      }
      .ant-tabs-nav-list {
        color: rgba(255, 255, 255, 0.7);
        .balance-tab {
          width: 100px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .ant-tabs-tab {
          font-size: 16px;
        }
        .ant-tabs-tab-btn:active {
          color: #539EF7 ;
        }
        .ant-tabs-tab.ant-tabs-tab-active {
          .ant-tabs-tab-btn {
            color: #539EF7 ;
          }
          text-align: center;
          color: #539EF7 ;
        }
        .ant-tabs-tab:hover {
          color: #539EF7;
        }
      }
      .ant-tabs-nav-operations {
        .anticon {
          svg {
            color: white;
            font-size: 24px;
          }
        }
      }
    }
    .ant-tabs-nav::before {
      border-bottom: 1px solid rgba(49, 53, 61, 1);
    }
    .ant-tabs-ink-bar {
      background-color: #318BF5;
    }
  }
  .ant-pagination-item-ellipsis {
    color: #e5dff5 !important;
  }
}

@media all and (max-width: 766px) {
  .wallet-withdraw .ant-tabs {
    padding-right: 27px;
  }
}
