.create-anti{
  .ant-modal-body{
    color: #37344E;
    font-size: 16px;
    padding: 16px 0;
    display: flex;
    justify-content: center;
    .ant-form-item-label > label.ant-form-item-required::before{
      content: "";
    }
    .create-content{
      display: flex;
      flex-direction: column;
      width: 100%;
      .create-title{
        width: 100%;
        border-bottom: 1px solid rgba(55, 52, 78, 0.12);
        text-align: center;
        padding-bottom: 16px;
      }
    }
    .ant-form{
      padding: 0 24px;
      margin-top: 32px;
    }
    .ant-form-item-required{
     margin-left: -4px;
     color: rgba(55, 52, 78, 0.75);
    }
    .ant-form-item-explain{
      margin-left: 0;
    }
    .input-line{
      border: 0.5px solid #adb1bb;
      display: flex;
      align-items: center;
      &:hover{
        border: 1px solid #318BF5;
      }
    }
  }

  .ant-modal-footer{
    .ant-btn-primary{
      width: 100%;
    }
  }
}