@import "src/style/globalStyle.scss";
.referral-features {
  background: rgba(20, 22, 25,1);
  padding: 0 40px;
  #HpQrcode {
    display: none;
  }
  .banner {
    width: 100%;
    display: none;
  }
  .referrals-content {
    width: 100%;
    margin: 0 auto;
  }
  .referral-top-content {
    width: 100%;
    margin: 0 auto;
    background-image: url("../../assets/image/take/banner.png");
    background-size: 541px 400px;
    background-repeat: no-repeat;
    background-position: 100%;
    // height: 400px;
  }
  .referral-top {
    // height: 400px;
    .earn-code {
      padding-top: 40px;
      font-size: 18px;
      color: rgba(229, 223, 245, 1);
      margin-bottom: 20px;
    }
    .earn-up {
      max-width: 51%;
      font-size: 48px;
      font-weight: 600;
      margin-top: 24px;
      // display: flex;
      // justify-content: flex-start;
      display: inline-block;
      .percentage {
        color: #318bf5;
        margin: 0 12px;
      }
    }
    .earn-content {
      display: flex;
      margin-top: 46px;
      .earn-content-trading {
        margin-right: 16px;
      }

      .earn-content-trading,
      .earn-content-claim {
        border-radius: 16px;
        background: rgba(34, 39, 48, 0.4);
        backdrop-filter: blur(4px);
        display: flex;
        position: relative;
        padding: 16px;
        width: 324px;
        flex-direction: column;
        align-items: flex-start;
        color: #a9b1b8;
        /* Body/Medium */
        font-size: 14px;
        font-weight: 400;
        .earn-content-title {
          font-size: 24px;
          font-weight: 600;
          color: #f4f4f5;
          margin-bottom: 8px;
        }
        .earn-content-leftTitle {
          display: flex;
          padding: 1px 12px;
          justify-content: center;
          align-items: center;
          border-radius: 24px;
          background: #12233a;
          color: #318bf5;
          font-size: 12px;
          font-style: normal;
          font-weight: 600;
          margin-bottom: 16px;
        }
      }
      .earn-content-claim {
        width: 356px;
      }
      @media screen and (max-width: 480px) {
        flex-direction: column;
        .earn-content-trading,
        .earn-content-claim {
          width: 100%;
        }
        .earn-content-trading {
          margin-bottom: 24px;
        }
      }
    }
    .link-content {
      margin-top: 26px;
      // width: 50%;
      display: flex;
      .title {
        color: #a9b1b8;
        font-size: 14px;
        margin-bottom: 8px;
      }
      .gun {
        width: 1px;
        height: 15px;
        background: rgba(229, 223, 245, 0.4);
        margin: 0 12px;
      }
      .link-right {
        .title {
          font-weight: 600;
          font-size: 14px;
          color: #a9b1b8;
          margin-bottom: 8px;
        }
      }
      .link-left,
      .link-right {
        margin-right: 17px;
        .content {
          border-radius: 4px;
          height: 44px;
          border: 1px solid #31353d;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 16px;
          .link-text {
            color: rgba(229, 223, 245, 1);
            font-size: 16px;
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
          }
          a {
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
            color: #f4f4f5;
            margin-left: 12px;
          }
        }
        .copy-link {
          color: #318bf5;
          font-size: 16px;
          cursor: pointer;
        }
        .qrcode {
          height: 24px;
          cursor: pointer;
          img {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
  .to-step {
    padding: 96px 0px 0px 0px;
    .step-title {
      font-size: 24px;
      font-weight: 600;
      color: rgba(229, 223, 245, 1);
    }
    .stake-list {
      margin-top: 36px;
      display: flex;
      justify-content: space-between;
      .stake-item {
        padding: 27px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .ellipse-bg {
          height: 120px;
          width: 120px;
          margin-bottom: 45px;
        }
        .describe {
          text-align: center;
          color: rgba(229, 223, 245, 1);
          font-size: 18px;
          line-height: 22px;
        }
      }
    }
  }
  .referral-tabs {
    padding: 24px 0px 58px 0px;
    @include ant-tab(100%, 18px);
    table {
      // min-height: 444px;
    }
    .ant-table .ant-table-content .ant-table-tbody > tr > td {
      background: rgba(20, 22, 25, 1);
    }
    // .ant-table-content {
    //   overflow: hidden !important;
    // }
    .empty-table {
      height: 295px;
    }
    .rules-bg {
      height: 137px;
      background-image: url("../../assets/image/rules-bg.svg");
      background-size: 100% 100%;
      font-weight: 600;
      font-size: 18px;
      color: #f3efff;
      padding-left: 220px;
      display: flex;
      align-items: flex-end;
      padding-bottom: 16px;
      padding-right: 75px;
      margin-bottom: 18px;
    }
    .rules-title {
      font-weight: 600;
      font-size: 16px;
      color: #f3efff;
    }
    .rules-commission {
      font-weight: 600;
      font-size: 16px;
      color: #f3efff;
    }
    .vip {
      color: #f3efff;
      margin-top: 18px;
      .vip-item {
        display: flex;
        div {
          text-align: center;
          line-height: 40px;
          width: 184px;
          height: 40px;
          background: rgba(243, 239, 255, 0.04);
          margin-bottom: 1px;
          margin-right: 1px;
        }
        .one {
          background: #318bf5;
        }
        .header-dark {
          background: rgba($color: #318bf5, $alpha: 0.8);
        }
        .header-dark-c {
          // background-color: #6d4ece;
          display: flex;
          line-height: 15px;
          justify-content: center;
          align-items: center;
        }
        .body-dark {
          background: rgba(243, 239, 255, 0.04);
        }
      }
    }
    .click-here {
      font-size: 14px;
      line-height: 22px;
      color: #f3efff;
      margin: 23px 0 27px;
      a {
        color: #318bf5;
      }
    }
  }
  .referral-footer {
    background: rgba(20, 22, 25, 1);
  }
  .link-btn {
    display: flex;
    .link-input {
      border: 1px solid #e2e2e2;
      border-radius: 4px;
      line-height: 36px;
      padding: 0 10px;
    }
  }
  .btn-gradient {
    width: 100px;
    height: 38px !important;
  }
  .rebates-rules {
    display: flex;
    flex-direction: column;
    // align-items: center;
    // min-height: 400px;
    img {
      margin-top: 60px;
      width: 132px;
      height: 132px;
    }
    div {
      margin-top: 15px;
      color: rgba(229, 223, 245, 1);
    }
  }
  .ant-tooltip-inner {
    padding: 10px 10px 4px 10px !important;
  }
}

@media screen and (max-width: 1024px) {
  .referral-features {
    .referral-top {
      padding: 0px 0 0 24px;
      .earn-up {
        width: 50%;
        font-size: 28px;
        .percentage {
          margin: 0 6px;
        }
      }
      .link-content {
        width: 100%;
        flex-direction: column;
        .link-left {
          width: 75%;
          padding-right: 12px;
        }
        .link-right {
          min-width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
        .link-left,
        .link-right {
          margin: 10px 0;
          .content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            // padding: 0 16px;
          }
          .copy-link {
            cursor: pointer;
            display: inline-block;
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
    .to-step {
      padding: 24px 0 0 12px;
      .stake-list {
        flex-direction: row;
      }
    }
    .referral-tabs {
      padding: 24px 0 0 12px;
    }
    .end-footer {
      height: 100%;
    }
    .referral-footer {
      max-height: 750px;
    }
  }
}

@media screen and (max-width: 768px) {
  .referral-features {
    .referral-top {
      padding: 21px 0 0 12px;
      height: 430px;
      .earn-code {
        padding-top: 30px;
      }
      .earn-up {
        width: 100%;
        font-size: 28px;
        .percentage {
          margin: 0 6px;
        }
      }
      .link-content {
        width: 100%;
        .link-left {
          // width: 50%;
          padding-right: 12px;
        }
        .link-right {
          width: 220px;
        }
      }
    }
    .to-step {
      padding: 24px 0 0 12px;
      .stake-list {
        flex-direction: row;
        // display: flex;
      }
    }
    .referral-tabs {
      padding: 24px 0 0 12px;
    }
    .end-footer {
      height: 100%;
    }
    .referral-footer {
      height: auto;
    }
  }
}

@media screen and (max-width: 700px) {
  .referral-features {
    padding: 0 12px;
    .referrals-content {
      margin-top: 300px;
    }
    .banner {
      display: block;
    }
    .referral-top-content {
      background-image: none;
    }
    .referral-top {
      padding: 12px 0 0 12px;
      height: 400px;
      background-image: none;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      .earn-code {
        padding-top: 0;
      }
      .earn-up {
        max-width: 100%;
        font-size: 28px;
        margin-bottom: 24px;
        .percentage {
          margin: 0 6px;
        }
      }
      .link-content {
        width: 100%;
        flex-direction: column;
        margin-top: 4px;

        .link-left {
          width: 100%;
          padding-right: 12px;
        }
        .link-right {
          width: 100%;
        }
        .link-left,
        .link-right {
          margin: 17px 0;
          .content {
            display: flex;
            padding: 0 8px;
            align-items: center;
            justify-content: space-between;
            a {
              font-size: 12px;
              margin-left: 6px;
            }
            // padding: 0 16px;
          }
          .copy-link {
            cursor: pointer;
            display: inline-block;
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
    .to-step {
      padding: 24px 0 0 12px;
      margin-top: 40px;
      .stake-list {
        flex-direction: column;
      }
    }
    .referral-tabs {
      padding: 24px 0 0 12px;
    }
    .end-footer {
      height: 100%;
    }
  }
}

@media screen and (max-width: 375px) {
  .referral-features {
    .banner {
      display: block;
    }
    .referral-top {
      height: 350px;
      .earn-up {
        font-size: 25px;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .referral-features {
    .banner {
      display: block;
    }
    .referral-top {
      .earn-up {
        font-size: 22px;
      }
    }
  }
}
