.transferTable {
  .ant-table {
    background: rgb(0, 21, 41);
    margin-top: 16px;
    .ant-table-tbody > tr:hover > td {
      background-color: rgba(20, 22, 25,1);
    }
    color: rgba(229, 223, 245, 0.6);
    .ant-table-tbody {
      background: rgb(0, 21, 41);
      tr {
        td {
          background: rgba(20, 22, 25,1);
          border-bottom: 8px solid black;
          .information,
          .information-top {
            position: relative;
            cursor: pointer;
            .information-address,
            .information-txid {
              line-height: 20px;
              font-size: 14px;
              font-weight: 400;
              color: rgba(229, 223, 245, 1);
              span {
                color: rgba(229, 223, 245, 0.6);
              }
            }
            .information-txid {
              p {
                display: inline-block;
                // margin-bottom: -1px;
                // border-bottom: 1px solid rgba(229, 223, 245, 1);
              }
            }
            .information-txid:hover > p {
              text-decoration: underline;
            }
          }
          .information-top::after {
            content: "";
            width: 0px;
            height: 0px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid rgba(229, 223, 245, 0.6);
            position: absolute;
            top: 5px;
            right: 5%;
          }
          .information::after {
            content: "";
            width: 0px;
            height: 0px;
            border-top: 5px solid rgba(229, 223, 245, 0.6);
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            position: absolute;
            top: 5px;
            right: 5%;
            cursor: pointer;
          }
        }
      }
    }
    .ant-table-thead {
      tr {
        th {
          background: rgba(48, 48, 93, 0.3);
          border-bottom: 8px solid black;
          color: rgba(229, 223, 245, 0.6);
        }
      }
    }
  }
  .ant-table-empty {
    .ant-table-tbody {
      background: rgb(0, 21, 41);
      tr {
        td {
          border: 0;
          .recentHistory-empty-table {
            p {
              font-size: 14px;
              font-weight: 400;
              line-height: 14px;
              color: rgba(229, 223, 245, 0.6);
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 760px) {
  .ant-table-container {
    padding-right: 20px;
  }
}
