/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

input,
img,
textarea,
button,
select {
  outline: none;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

/* custom */

a {
  text-decoration: none;
  // -webkit-backface-visibility: hidden;
}

li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background-color: rgba(49, 139, 245, 0.5);
}

/*定义滚动条轨道
 内阴影+圆角*/

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(20, 22, 25, 1);
}

/*定义滑块
 内阴影+圆角*/

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(49, 139, 245, 0.5);
}

html,
body {
  min-width: 100%;
  font-family: 'Roboto', sans-serif;
  // min-width: 480px;
}

body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: none;
  touch-action: none;
}

::-webkit-input-placeholder {
  /* Edge */
  color: rgba(255, 255, 255, 0.3);
}

input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.3);
}

input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-internal-autofill-previewed,
input:-internal-autofill-selected,
input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s !important;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
}

.ant-table-container table > thead > tr:first-child th:first-child {
  border-top-left-radius: 0 !important;
}

.ant-table-container table > thead > tr:first-child th:last-child {
  border-top-right-radius: 0 !important;
}

// chrome webkit内核样式
// input:-webkit-autofill {
//   box-shadow: none !important;
//   -webkit-text-fill-color: #E5DFF5;
// }
