.old-level {
  .level-box {
    height: 98px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #31353D;
  }
  .level-text {
    font-size: 14px;
    margin-top: 24px;
    color: #e5dff5;
  }
}
