.maker-model {
    .maker-box {
        padding: 0px 12px 0px 12px;
        .maker-title {
            color: #333333;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 24px;
        }
        .maker-subtitle {
            color: #333333;
            font-size: 14px;
            font-weight: 500;
        }
        p {
            color: #666666;
            font-size: 14px;
            margin: 12px 0;
        }
    }
}